{% set queue = queue('classes', 'sidebar', 'shop') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container container--wide">

        <div class="row">
            <div class="nine columns">
                {% include 'includes/flash.twig' %}

                <div class="block">
                    <div class="block-heading"><h1>Become a donator</h1></div>
                    <div class="block-content">
                        <p>
                            In order to support our growth and the costs of maintaining and developing new features, we've added some perks and are offering them as a thank you to those who support us with any size donation.
                        </p>
                    </div>
                </div>

                <div class="block">
                    <div class="block-heading"><h1>Donations</h1></div>
                    <div class="block-content">
                        <ul class="list list--flex">
                            {% for donation in donations %}
                                {% if donation.user_id %}
                                    {% set profile = getUser(donation.user_id) %}
                                {% else %}
                                    {% set profile = null %}
                                {% endif %}
                                <li>
                                    <div>{{ getImage(profile.avatar, "navatar")|raw }}</div>
                                    <div class="list-subject">{{ profile ? profile.getLink()|raw : '[anonymous]' }}</div>
                                    <div>£{{ donation.amount|number_format(2) }}</div>
                                    <div>{{ donation.created|ago }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="three columns">
                {% include 'includes/form.twig' with { form: donationForm, showFlash: false } %}

                <div class="block">
                    <div class="block-heading">
                        <h2>£5</h2>
                    </div>
                    <div class="block-content">
                        <p>Be awarded the donator medal and have a heart displayed next to your username throughout the site. Also hide all adverts, forever.</p>
                        <a href='#' data-amount="5" class='button button--wide'>Select this tier</a>
                    </div>
                </div>

                <div class="block">
                    <div class="block-heading">
                        <h2>£25</h2>
                    </div>
                    <div class="block-content">
                        <p>All the above perks and get your hands on a free classic t-shirt.</p>
                        <a href='#' data-amount="25" class='button button--wide'>Select this tier</a>
                    </div>
                </div>

                <div class="block">
                    <div class="block-heading">
                        <h2>£50</h2>
                    </div>
                    <div class="block-content">
                        <p>Adopt your favourite playground level and have your details prominently displayed for all to see. You will also receive all perks from the first two tiers</p>
                        <a href='#' data-amount="50" class='button button--wide'>Select this tier</a>
                    </div>
                </div>

                <div class="block">
                    <div class="block-heading">
                        <h2>£150</h2>
                    </div>
                    <div class="block-content">
                        <p>Fund the development of a brand new playground level! You will also recieve all perks from the first two tiers.</p>
                        <a href='#' data-amount="150" class='button button--wide'>Select this tier</a>
                    </div>
                </div>

                {% include 'includes/advert.twig' %}
            </div>
        </div>

    </div>

{% endblock %}