<ul class="list">
    {% for product in order.items %}
        <li>
            <div class="right">£{{ (product.amount/100)|number_format(2) }}</div>
            {{ product.name }} 
            {% if product.details %}[{{ product.details }}]{% endif %}
        </li>
    {% endfor %}
</ul>