{% set queue = queue('classes', 'sidebar', 'ticket') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container container--wide">
        <div class="row">
            <div class="twelve columns">
                <h1>Ticket #{{ ticket.ticket_id }}</h1>
            </div>
        </div>

        {% include 'includes/back.twig' %}

        <div class="row">
            <div class="eight columns">
                {% include 'includes/flash.twig' %}
                {% for message in ticket.messages %}
                    <div class="ticket-message block">
                        <div class="block-content">
                            <div class="right small">
                                {{ message.sent|ago }}
                                {{ message.read ? '' : '&nbsp;<i class="far fa-circle c-highlight small" title="Unread by OP"></i>' }}
                            </div>

                            {% if message.user_id %}
                                {% set user = getUser(message.user_id) %}
                                {{ user.getLink()|raw }}
                            {% elseif ticket.user_id %}
                                {% set user = getUser(ticket.user_id) %}
                                {{ user.getLink()|raw }}
                            {% else %}
                                <strong>Original poster</strong>
                            {% endif %}
                            
                            {{ message.content.html|raw }}
                        </div>
                    </div>
                {% endfor %}

                {% if ticket.status == 'closed' %}
                    <div class="msg msg--info">Ticket has been closed</div>
                {% elseif ticket.status == 'resolved' %}
                    <div class="msg msg--success">Ticket has been resolved</div>
                {% else %}
                    {% include 'includes/form.twig' with { form: form } %}
                {% endif %}
            </div>
            <div class="four columns">
                <div class="block block--controls">
                    <div class="button-group button-group--wide button-group--dropdown">
                        <div class="label">Status: {{ ticket.status|capitalize }}</div>
                        <a class="button button-dropdown-show" data-toggle="ul" data-toggle-unfocus href="#">
                            <i class="fas fa-angle-down"></i>
                        </a>
                        <ul class="button-dropdown-menu">
                            {% if ticket.status != 'open' %}
                                <li>
                                    <a href="{{ ticket.getURL }}?status=open">Re-open</a>
                                </li>
                            {% endif %}
                            {% if ticket.status != 'resolved' %}
                            <li>
                                <a href="{{ ticket.getURL }}?status=resolved">Mark as resolved</a>
                            </li>
                            {% endif %}
                            {% if ticket.status != 'closed' %}
                            <li>
                                <a href="{{ ticket.getURL }}?status=closed">Close</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                {% if ticket.user_id %}
                    {% include 'profile/card.twig' with { 'profile': getUser(ticket.user_id) } %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}