{% extends 'layout/base.twig' %}

{% block html %}
    {% include 'includes/nav.twig' %}
    {% include 'includes/sidebar.twig' %}

    {% block content %}{% endblock %}

    <div class="cookies">
        <p>This site only uses cookies that are essential for the functionality of this website. Cookies are not used for tracking or marketing purposes.</p>
        <p>By using our site, you acknowledge that you have read and understand our <a href='/legal/privacy'>Privacy Policy</a>, and <a href='/legal/terms'>Terms of Service</a>.</p>
        <a href='#' class='button button--wide button--main right'>Dismiss</a>
    </div>

    {% set log = getLog() %}
    {% if log is iterable %}
        <div class="page-logs">
            <ul>
                {% for item in log %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}