{% set title = article.title %}
{% set queue = queue('classes', 'sidebar') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container">
        <div class="block">
            <h1>Request error</h1>
            <p>There was an error with the request. This might be because your sessions timed out or you have JS disabled. If you are sure you wanted to "{{ action }}" click the submit button below.</p>
            <p>If you think this page was shown in error please close this page and contact us if you think there was malicious intent.</p>

            <form method="POST">
                <input type="hidden" name="token" value="{{ CSRFtoken }}"/>
                <button type="submit" class='button button--warning button--main'>Submit</button>
            </form>
        </div>
    </div>
{% endblock %}