{% set title = profile.username %}
{% set queue = queue('classes', 'sidebar', 'profile') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container container--wide profile">

        <h2>Headings</h2>
        <div class="block">
            <div class="block-heading">
                <h1>Block heading</h1>
            </div>
            <div class="block-content">
                <h1>Heading 1</h1>
                <h2>Heading 2</h2>
                <h3>Heading 3</h3>
                <h4>Heading 4</h4>
                <h5>Heading 5</h5>
            </div>
        </div>

        <h2>Lists</h2>
        <div class="block">
            <ul>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
            </ul>
            <ul class="list">
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
            </ul>
        </div>

        <h2>Feeds</h2>
        <div class="block">
            <div class="feed">
                <div class="feed-item">
                    <div class="feed-item-left">
                        Left
                    </div>
                    <div class="feed-item-main">
                        <div class="feed-item-header">
                            <div class="feed-item-details">
                                <div class="feed-item-title">Title</div>
                                <div class="small">Extra details</div>
                            </div>

                            <div>
                                <div class="feed-item-type">Type</div>
                                <div class="feed-item-subtype">Subtype</div>
                            </div>
                        </div>
                        <div class="feed-item-content">
                            Here is the content
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2>Buttons</h2>
        <div class="block">
            <a href='#' class="button">Button</a>
            <a href='#' class="button button--main">Button main</a>
            <a href='#' class="button button--warning">Button warning</a>
            <a href='#' class="button button--wide">Button wide</a>
            <br/>
            <div class="button-group">
                <a href='#' class="button">Button 1</a>
                <a href='#' class="button">Button 2</a>
            </div>
            <br/>
            <div class="button-group right button-group--dropdown">
                <a class="button" href="#">Open</a>
                <a class="button button-dropdown-show" data-toggle="ul" data-toggle-unfocus href="#">
                    <i class="fas fa-caret-down"></i>
                </a>
                <ul class="button-dropdown-menu">
                    <li>
                        <a href="#">Open</a>
                    </li>
                    <li>
                        <a href="#">Close</a>
                    </li>
                    <li>
                        <a href="#">Resolve</a>
                    </li>
                    <li class="seperator"></li>
                    <li>
                        <a href="#">Delete</a>
                    </li>
                </ul>
            </div>
        </div>

        <h2>Blocks</h2>
        <div class="block">
            <div class="block-heading"><h2>Title</h2></div>
            Block content
        </div>

        <h2>Message</h2>
        <div class="msg">Message</div>
        <div class="msg msg--success">Success message</div>
        <div class="msg msg--error">Error message</div>

        <h2>Progress</h2>
        <div class="block">
            <h3>Progress</h3>
            <div style="overflow: hidden">
                <div class="progress">
                    <div class="progress-bar" style="width: 25%"></div>
                </div>
                <div class="right small">Extra info</div>
            </div>

            <h3>Progress small</h3>
            <div class="progress progress--small">
                <div class="progress-bar" style="width: 25%"></div>
            </div>
        </div>

        <h2>Cards</h2>
        <div class="row">
            <div class=" four columns">
                <a href="#" class="card card--image">
                    <div class="card-image" style="background-image: url({{ site.static }}/stock/code-600x380.jpg)"></div>
                    <div class="card-bottom">
                        Title
                    </div>
                </a>
            </div>
            <div class=" four columns">
                <div href="#" class="card">
                    <div class="card-top">Title</div>
                    <div class="card-bottom">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit risus placerat turpis, rhoncus curae volutpat arcu aptent ac dis aliquet.
                        </p>
                        <p>
                            Donec curae nec habitant inceptos primis et erat euismod ante non eu.
                        </p>
                    </div>
                </div>
            </div>
        </div>
                

        <h2>Loader</h2>
        <div class="loader"></div>
    </div>
{% endblock %}