{% set queue = queue('classes', 'auth') %}
{% set queue = queue('styles', '/css/auth.css') %}
{% extends 'layout/base.twig' %}

{% block html %}

    <div class="container" style="border-radius: 0">
        <div class="block"  style="margin-bottom: 0">
            <h3>Unsubscribe</h3>
            <p>Are you sure you want to unsubscribe from all future Defend the Web emails?</p>
            <p>
                {% include 'includes/form.twig' with { form: form, showFlash: true } %}
            </p>
        </div>
    </div>

{% endblock %}