{% set title = article.title %}
{% set queue = queue('classes', 'sidebar') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container">
        <div class="block">
            <div class="block-content">
                <h1>Spoiler warning</h1>
                <p>This thread and others marked with the spoiler tag will contain information that will spoil any level that you have yet to complete.</p>
                <p>Clicking `view spoilers` below will allow you access to this and all other spoiler tagged discussions</p>

                <a href='/discussions' class="button button--secondary">Go back</a>
                <a href='{{ thread.permalink }}/spoilers' class="button button--warning" csrf>View spoilers</a>
            </div>
        </div>
    </div>
{% endblock %}