{% set queue = queue('classes', 'sidebar', 'discussion') %}
{% set queue2 = queue('scripts', '/js/discussions.min.js', '/js/lightbox.min.js') %}
{% set queue3 = queue('styles', '/css/lightbox.min.css') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container">
        <div class="row">
            <div class="twelve columns discussion-thread" data-thread-id="{{ thread.id }}">
                {% include 'includes/flash.twig' %}

                <h1>{{ thread.title }}</h1>
                {% for post in thread.posts|slice(0, 1) %}
                    {% include 'discussions/post.twig' %}
                {% endfor %}

                {% include 'discussions/info.twig' %}

                {% set deleted = 0 %}
                {% for post in thread.posts|slice(1) %}
                    {% if post.deleted %}
                        {% set deleted = deleted + 1 %}
                    {% else %}
                        {% if deleted > 0 %}
                            {% include 'discussions/post.twig' with { post: { deleted: deleted } } %}
                            {% set deleted = 0 %}
                        {% endif %}

                        {% include 'discussions/post.twig' %}
                    {% endif %}
                {% endfor %}
                {% if deleted > 0 %}
                    {% include 'discussions/post.twig' with { post: { deleted: deleted } } %}
                    {% set deleted = 0 %}
                {% endif %}

                {% if user and user.hasPrivilege('contribute') and not thread.locked %}
                    <div class="discussion-thread-reply">
                        {% include 'includes/flash.twig' %}
                        {% include 'includes/form.twig' with { form: form } %}
                    </div>
                {% elseif thread.locked %}
                    <div class="msg msg--info">
                        Discussion thread has been locked. You can no longer add new posts.

                        {% if thread.isEditable %}
                            <a class='right' href='{{ thread.permalink }}/unlock' csrf>Unlock</a>
                        {% endif %}
                    </div>
                {% elseif user and not user.hasPrivilege('contribute') %}
                    <div class="msg msg--error">
                        You have been banned from contributing to this site.
                    </div>
                {% else %}
                    <div class="msg msg--info">
                        You must be logged in to reply to this discussion.
                        <a class='right' href='/auth'>Login</a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="discussion-scroll-indicator">
            {% if user and user.hasPrivilege('contribute') and not thread.locked %}
                <a href="#" data-scroll-target=".discussion-thread-reply textarea" class="button button--main">Reply</a>
            {% endif %}
            <div class="discussion-scroll-indicator-position">
                <a href="#" data-scroll-top><i class="fas fa-angle-up"></i></a>
                <span>1</span> of {{ thread.post_count + 1|number_format }}
                <a href="#" data-scroll-bottom><i class="fas fa-angle-down"></i></a>
            </div>
        </div>
    </div>
{% endblock %}