{% set queue = queue('classes', 'sidebar', 'stats', 'stats--chat') %}
{% set queue2 = queue('scripts', '/js/stats.min.js') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container container--wide">

        <div class="row">
            <div class="nine columns">
                {% include 'includes/flash.twig' %}

                <div class="block">
                    <div class="block-heading"><h2>This week</h2></div>
                    <div class="block-content">
                        <canvas id="chatStatsWeek" width="100%"></canvas>
                    </div>
                </div>

                <div class="block">
                    <div class="block-heading"><h2>All time</h2></div>
                    <div class="block-content">
                        <canvas id="chatStatsHours" width="100%"></canvas>
                    </div>
                </div>

                <div class="block block--users">
                    <div class="block-heading"><h2>Users</h2></div>
                    <div class="block-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Lines</th>
                                    <th>Words</th>
                                    <th>When</th>
                                    <th>Latest</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for username, stat in stats.users %}
                                    <tr>
                                        <td>{{ username }}</td>
                                        <td>{{ stat.lines|number_format }}</td>
                                        <td>{{ stat.words|number_format }}</td>
                                        <td>
                                            <div class="chat-stats-bar">
                                                {% for when, lines in stat.when %}
                                                    {% set percentage = lines > 0 ? (lines / stat.recordedLines) * 100 : 0 %}
                                                    <div class="chat-stats-bar-section chat-stats-bar-section--{{when}}" style="width: {{percentage}}%" title="{{ when|capitalize }}: {{ lines }} lines"></div>
                                                {% endfor %}
                                            </div>
                                        </td>
                                        <td>{{ stat.last ? stat.last|ago : 'Unknown' }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="three columns">
                <div class="block">
                    <div class="block-heading"><h2>Join in</h2></div>
                    <div class="block-content">
                        <a href="/chat" class="button button--main button--wide">Launch chat</a>
                    </div>
                </div>

                {% include 'includes/advert.twig' %}
            </div>
        </div>

    </div>

    <script>
        var chatStats = {{ data|raw }};
    </script>

{% endblock %}