{% set queue = queue('classes', 'sidebar', 'search') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container container--wide search">
        <div class="block">
            <div class="block-heading">
                <h1>Search</h1>
            </div>
            <div class="block-content">
                {% include 'includes/form.twig' with { form: getSearchForm() } %}
            </div>

        </div>
    </div>
{% endblock %}