<div class="block">
    <div class="block-heading">
        <h3>Users</h3>
    </div>
    <div class="block-content">


        {% if wide %}

            {% for row in users|batch(3) %}
                <div class="row">
                    {% for p in row %}
                        <div class="four columns">
                            {% set profile = getUser(p.id) %}
                            {% include 'profile/rollup.twig' with { profile: profile, stats: true } %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

        {% else %}

            {% for p in users %}
                {% set profile = getUser(p.id) %}
                {% include 'profile/rollup.twig' with { profile: profile, stats: true, small: true } %}
            {% endfor %}

        {% endif %}

    </div>
</div>