{% set queue = queue('classes', 'auth') %}
{% set queue = queue('styles', '/css/auth.css') %}
{% set queue = queue('scripts', '/vendor/mailcheck.min.js', '/js/auth.min.js') %}
{% extends 'layout/base.twig' %}

{% block html %}

    <div class="container">
        <div class="auth-nav">
            <a href='/auth/logout'>&lt; cancel</a>
        </div>
        <div class="auth-local">
            <div class="auth-setup active">
                {% if error %}
                    <div class="msg msg--error">{{error}}</div>
                {% endif %}

                <form action="/auth/setup" method="post">
                    <input type="hidden" name="token" value="{{ token }}"/>

                    <p>We just need a few more details to setup your account.</p>
                    <div class="input">
                        <label for="username">Choose a username</label>
                        <input type="text" name="username" id="username" placeholder="Username" value="{{newUser.username}}" autocorrect="off" autocapitalize="none">
                    </div>
                    <div class="input">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" placeholder="Email" value="{{newUser.email}}">
                    </div>

                    <div class="row-fluid">
                        <div class="six columns">
                            &nbsp;
                        </div>
                        <div class="six columns">
                            <button type="submit" class="button button--main button--wide">Create account</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}