<div class="level-container">
    {% if justCompleted %}
        <div class="level-badge level-badge--complete">
            <div class="level-badge-emoji">
                {{ random(['😀', '😌', '🥳', '😲', '👌', '👍', '👊', '🙌', '👏', '🙆‍', '🙆‍', '🧙', '🎉', '🏆', '🏅', '🧐']) }}
            </div>
            <div class="level-badge-message">
                Congratulations
                <div class="small">
                    You have completed {{ level.title|lower }}
                </div>
            </div>
        </div>
        <div class="block block--highlight block--share">
            <div class="block-content center">
                <p>Why not share your accomplishment?</p>
                <p>
                    {% set shareURL = site.domain ~ '/playground/' ~ level.slug %}
                    {% set shareMsg = 'Woo, I just completed ' ~ level.title|lower ~ ' on ' ~ site.title ~ '!!' %}
                    <a href="https://www.facebook.com/sharer/sharer.php?description={{ shareMsg }}|url_encode&u={{ shareURL|url_encode }}" target="_blank" rel="nofollow noopener noreffer"><i class="fab fa-facebook"></i></a>
                    <a href="https://twitter.com/intent/tweet?text={{ (shareMsg ~ ' - ' ~ shareURL)|url_encode }}" target="_blank" rel="nofollow noopener noreffer"><i class="fab fa-twitter"></i></a>
                </p>
            </div>
        </div>
    {% elseif level.flash %}
        <div class="msg msg--{{ level.flash.type }}">{{ level.flash.message }}</div>
    {% endif %}

    {% if level.meta.descriptionSafe and not justCompleted %}
        <div class="row">
            <div class="12 columns level-description">
                {{ level.meta.descriptionSafe|raw }}
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="eight columns offset-by-two level-form">
            {% if not justCompleted %}
                {% if level.blocked %}
                    <div class="msg msg--error">Blocked</div>
                {% else %}
                    {{ level.code['level']|raw }}

                    {% if level.form %}
                        {% include 'includes/form.twig' with { form: level.form } %}
                    {% endif %}
                {% endif %}

                {% if level.meta.timer %}
                    <div class="level-timer" data-time="{{ level.meta.timer }}"></div>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% if (level.output or level.outputHTML) and not justCompleted %}
        <div class="row">
            <div class="twelve columns level-output">
                {% if level.output %}
                    <pre>{{ level.output|raw }}</pre>
                {% else %}
                    {{ level.outputHTML|raw }}
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>