{% set queue = queue('classes', 'sidebar', 'api') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container">
        <div class="block">
            <div class="block-heading">
                <h1>API keys</h1>
            </div>
            <div class="block-content">
                <p>
                    Generate a key below to use the DtW API. The API can be used to access lots of public DtW information. It can not be used to get details reserved for authorised users, however this is planned to be available in the future.
                </p>
                <p>
                    Click here to read the full <a href='/help/developers/api-documentation'>API Documentation</a>.
                </p>

                <div class="block">
                    <div class="block-content block-content--flex">
                        <div>
                            {% if keys %}
                                <ul class="list">
                                    {% for key in keys %}
                                        <li>
                                            <h3>
                                                {{ key.name }}
                                            </h3>
                                            <div class="small">
                                                Created {{ key.created|ago }} &middot;
                                                {{ key.hits|number_format }} hits
                                                {% if key.accessed %}
                                                    &middot; {{ key.accessed|ago(false, false) }} since last used
                                                {% endif %}
                                            </div>
                                            <code>{{ key.key }}</code>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                Api keys will show here
                            {% endif %}
                        </div>
                        <div>
                            {% include 'includes/form.twig' with { form: form, showFlash: true } %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}