/* Article */
#content.article {
    .article-container {
        background: $block_bg;

        @include dark-mode {
            background: $dark_block_bg;
        }
    }

    article {
        .article-hero {
            height: 250px;
            background-size: cover;
            background-position: center;
            margin-bottom: 2rem;
        }

        h1.article-title {
            padding: 0 20px;
            line-height: 1.4em;
            font-weight: 500;

            &.article-title--no-image {
                margin-top: 20px;
            }

            @media (min-width: $mobileWidth) {
                font-size: 2.8em;
            }

            @media (max-width: $mobileWidth) {
                padding: 1.5rem;
                margin-bottom: 0;
            }
        }

        .article-body {
            padding: 0 20px;
            margin-bottom: 2rem;
            font-size: 16px;

            * {
                line-height: 1.45em;
                margin-bottom: 1.45em;
                margin-top: 0em;
            }

            & > :not(pre):first-child {
                margin-top: 0 !important;
                padding-top: 0 !important;
            }

            h1, h2, h3 {
                margin-top: 0.9em;
                margin-bottom: 0.4em;
            }


            @media (max-width: $mobileWidth) {
                padding: 1.5rem;
            }

            @media (min-width: $mobileWidth) {
                h1 {
                    font-size: 1.9em;
                    line-height: 1.3em;
                    margin-top: 1.8em;
                    margin-bottom: 1em;
                }

                h2 {
                    font-size: 1.4em;
                    line-height: 1.3em;
                    margin-top: 1.8em;
                    margin-bottom: 0.8em;
                    margin-left: 2rem;
                }

                h3 {
                    font-size: 1.2em;
                    line-height: 1.1em;
                    margin-top: 1.6em;
                    margin-bottom: 1em;
                }
            }

            h1 + h2 {
                margin-top: -0.3em;
            }

            h2, h3, p, ul, ol {
                margin-left: 2rem;
                margin-right: 2rem;

                @media (max-width: $mobileWidth) {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            hr {
                margin: 3em 10em 3em 10em;
            }

            code {
                display: inline-block;
                margin-top: 0;
                margin-bottom: 0;
                padding: 0.2em 0.4em;
                border-radius: 5px;
                display: initial;
                white-space: unset;
            }

            pre {
                margin: 1.45em -20px;

                @media (max-width: $mobileWidth) {
                    margin-left: 0;
                    margin-right: 0;

                    max-height: 50vh;
                }

                code {
                    padding: 0;
                    background: none !important;
                }
            }

            blockquote {
                font-family: $text_header_font;
                letter-spacing: 1px;

                margin-top: 2.5rem;
                margin-bottom: 2.5rem;
                margin-left: 2rem;
                padding-left: 1.2rem;
                border-left: 4px solid $secondary;
                font-size: 1.3em;

                &.pullquote {
                    font-size: 1.5em;
                    float: right;
                    max-width: 20em;
                    margin-left: 2em;
                    margin-bottom: 0.5emem;
                }
            }

            iframe {
                border: medium none;
                height: 400px;
                outline: medium none;
                width: 75%;
                margin-top: 2.5rem;
                margin-bottom: 2.5rem;
                margin-left: 2rem;
            }

            ul, ol {
                padding-left: 0;
                list-style-position: outside;

                li {
                    margin-bottom: 0.3em;

                    @media (max-width: $mobileWidth) {
                        margin-left: 1em;
                    }
                }
            }

            ul { 
                list-style-type: disc;
            }

            ol { 
                list-style-type: decimal;
            }

            ul ul, ol ul { 
                list-style-type: circle;
                margin-left: 15px; 
            }

            ol ol, ul ol { 
                list-style-type: lower-latin;
                margin-left: 15px; 
            }

            .article-challenge {
                border-top: 1px solid $accent;
                border-bottom: 1px solid $accent;

                @include dark-mode {
                    border-color: $dark_accent;
                }

                padding: 20px;
                margin: 40px;

                @media (max-width: $mobileWidth) {
                    margin: 20px 0;
                }

                .debug > * {
                    display: none;
                }
            }
        }
    }

    @media only screen and (max-width: $desktopWidth) {
        width: auto;
    }
}