@font-face {
    font-family: 'Lato';
    src: local('Lato Light'), local('Lato-Light'),
        url('fonts/Lato-Light.woff2') format('woff2'),
        url('fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Semibold'), local('Lato-Semibold'),
        url('fonts/Lato-Semibold.woff2') format('woff2'),
        url('fonts/Lato-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Orbitron';
    src: local('Orbitron Light'), local('Orbitron-Light'),
        url('fonts/Orbitron-Light.woff2') format('woff2'),
        url('fonts/Orbitron-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Anonymous Pro';
    src: local('Anonymous Pro'), local('AnonymousPro'),
        url('fonts/AnonymousPro.woff2') format('woff2'),
        url('fonts/AnonymousPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}