.moderation-queues {
    .feed-item {
        padding: 1.5em !important;
        margin-bottom: 0.5em;
        border: none;

        &:nth-child(2n+1) {
            background: $accent;

            @include dark-mode {
                background: $dark_accent;
            }
        }

        .queue-count {
            margin-right: 1em;
            font-size: 2em;
            color: $primary;
            line-height: 1em;
            text-align: center;

            span {
                display: block;
                color: $text;
                font-size: 1rem;
                line-height: 1em;
            }
        }

        &.feed-item--inactive {
            opacity: 0.6;

            .queue-count,
            a {
                cursor: default;
                color: #666;
            }
        }
    }
}



.discussion-moderation-target {
    .discussion-moderation-controls {
        margin: -20px;
        margin-bottom: -20px;
        margin-bottom: 20px;
        padding: 20px;
        background: $primary;

        .c-subtle {
            color: white;
        }

        .button {
            border: none;
            padding: 1em 2em;
            min-width: 0;
        }

        p {
            color: white;

            &:first-of-type {
                margin-top: 1.5em;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}