.nav-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: $header_bg;
    z-index: 45;

    padding-bottom: env(safe-area-inset-bottom);

    @media (max-width: $mobileWidth) {
        display: flex !important;
        display: none !important;
    }

    a {
        color: white;
        flex: 1 1 0px;
        text-align: center;

        font-size: 0.8rem;
        line-height: 1em;
        padding: 1rem 0;

        i {
            display: block;
            font-size: 1.3rem;
            padding-bottom: 0.5rem;
        }
    }
}

@media (max-width: $mobileWidth) {
    body {
        // margin-bottom: 50px;
    }
}