nav {
    float: right;
    height: $header_height;
    line-height: $header_height;
    text-align: left;

    padding-top: env(safe-area-inset-top);

    ul {
        li {
            float: left;
        }
    }

    a:hover {
        text-decoration: none;
    }

    > * {
        float: left;
    }

    > ul {
        margin-left: 10px;

        > li {
            margin-bottom: 0;

            > a {
                height: $header_height;
                padding: 0 12px;
                color: white;
                display: block;
                font-family: 'Lato', sans-serif;
                font-weight: 300;

                &:hover,
                &.popup-handle--active, {
                    color: white;
                    background: $header_overlay;

                    @include dark-mode() {
                        color: white;
                        background: $dark_header_overlay;
                    }
                }
            }

            div.popup {
                display: none;
                background: $header_overlay;
                width: 400px;
                top: 100%;
                right: 0;
                left: auto;
                position: absolute;
                text-align: left;
                font-size: 1.2rem;
                line-height: 1.6em;
                padding: 1em;
                color: white;

                @include dark-mode() {
                    background: $dark_header_overlay;
                }

                a {
                    color: white;

                    &:hover {
                        color: $primary;
                    }
                }

                &.popup--open {
                    display: block;
                }

                &.popup--loading {
                    min-height: 120px;

                    &::before,
                    &::after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        content: "";
                        background: $header_overlay;
                        z-index: 2000;

                        @include dark-mode() {
                            background: $dark_header_overlay;
                        }
                    }

                    &::after {
                        z-index: 2001;
                        background-image: url('https://zhr3.co.uk/loader.png');
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }


            &.nav-account {
                line-height: $header_height;
                display: inline-block;
                position: relative;

                > a {
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 1em;
                        height: 70%;
                        border-radius: 5px;
                    }
                    &::after {
                        @extend %fa-icon;
                        @extend .fas;
                        content: fa-content($fa-var-chevron-down);

                        padding-left: 1em;
                        font-size: 0.8em;
                        color: $text_subtle;
                    }

                    &:hover {
                        &::after {
                            color: white;
                        }
                    }
                }

                @media (max-width: $mobileWidth) {
                    width: 40px;
                    text-indent: -1000px;

                    a {
                        img {
                            max-width: 40px;
                            padding-left: 0;
                            margin-right: 0;
                        }

                        span {
                            display: none;
                        }

                        &::after {
                            display: none;
                        }
                    }

                    ul {
                        text-indent: 0;
                    }
                }


                .popup {
                    width: auto;
                    min-width: 200px;
                    padding: 0;

                    h3 {
                        margin: 1em 1rem 0;
                    }

                    ul {
                        font-size: 1.2em;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        li {
                            float: none;

                            a {
                                padding: 1rem 2rem;
                                display: block;

                                &:hover {
                                    color: white;
                                    background: $primary;
                                }
                            }
                        }
                    }

                    ul:last-child {
                        margin-top: 1.8rem;
                    }
                }

            }

            &.nav-notifications {
                line-height: 40px;
                text-align: center;
                font-size: 16px;
                position: relative;

                &.nav-notifications--unread {
                    > a::after {
                        content: "";
                        width: 15px;
                        height: 15px;
                        background: $primary;
                        border-radius: 100%;
                        position: absolute;
                        right: 7px;
                        top: 5px;
                        border: 2px solid $header_bg;

                        @include dark-mode() {
                            border-color: $dark_block_bg;
                        }
                    }

                    > a > i::before {
                        @extend .fas;
                    }

                    &:hover > a,
                    a.popup-handle--active {
                        &::after {
                            border-color: $header_overlay;

                            @include dark-mode() {
                                border-color: $dark_header_overlay;
                            }
                        }
                    }
                }

                .popup {
                    h3 {
                        text-transform: capitalize;
                    }

                    .notification {
                        margin-bottom: 0.6rem;
                        color: #999;

                        &::before {
                            display: none;
                        }
                    }

                    h3:not(:first-child) {
                        margin-top: 1.2rem;
                    }

                    .footer {
                        text-align: center;
                        display: block;
                        padding: 0.8em;
                        background: $header_bg;
                        color: white;
                        margin: -1em;
                        margin-top: 2rem;

                        @include dark-mode() {
                            background: $dark_header_bg;
                        }

                        &:hover {
                            background: $primary !important;
                            color: white;
                        }
                    }
                }
            }
    
            &.medal-progress {
                @media (max-width: $desktopWidth) {
                    display: none;
                }

                .small {
                    color: white;
                }
            }
        }
    }
}