.notification {
    &.notification--unread::before {
        content: "";
        display: inline-block;
        width: 9px;
        height: 9px;
        border-radius: 9px;
        margin-right: 0.2em;
        background: $primary;
    }
}