.form--search {
    display: flex;

    div.input--text {
        flex-grow: 1;
        margin-bottom: 0;

        input[type=text] {
            border-radius: 0;

            .container.search & {
                min-height: 60px;
                font-size: 20px;
            }
        }
    }

    button {
        flex: 0 0 auto;
        border-radius: 0;

        .container.search & {
            min-height: 60px;
        }
    }
}

.search {
    .search-results {
        margin-top: 2rem;

        .article, .level {
            margin-bottom: 2em;
        }

        .discussion-list-thread {
            background: none !important;
        }
    }
}