{% set queue = queue('classes', 'sidebar', 'admin') %}
{% extends 'layout/main.twig' %}

{% block content %}
    
    <div id="content" class="container">
        <div class="block">
            <div class="block-heading"><h1>Tickets</h1></div>
            <div class="feed block-content">
                {% for ticket in tickets %}
                    <a href="{{ ticket.permalink }}" class="feed-item">
                        <div class="feed-item-main">
                            <div class="feed-item-header">
                                <div class="feed-item-details">
                                    <div class="feed-item-title">Ticket #{{ ticket.ticket_id }}</div>
                                    <div class="small">
                                        {% if ticket.user_id %}
                                            {% set user = getUser(ticket.user_id) %}
                                            {{ user.username }}
                                        {% else %}
                                            Guest
                                        {% endif %}
                                        |
                                        {{ pluralize(ticket.messages|length - 1, '1 reply', '%d replies', 'no replies') }}
                                        |
                                        {{ ticket.messages|last.sent|ago }}
                                    </div>
                                </div>

                                <div>
                                    <div class="feed-item-type">{{ ticket.status }}</div>
                                    {% if ticket.status == 'open' and ticket.messages|last.owner %}
                                        <div class="feed-item-subtype">new</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="feed-item-content truncate">
                                {{ ticket.messages.0.content.safe|raw }}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div> 
    </div>

{% endblock %}