{% set title = profile.username %}
{% set queue = queue('classes', 'sidebar', 'profile') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container container--wide profile">
        {% include 'includes/flash.twig' %}

        <div class="row">
            <div class="four columns">
                {% include 'profile/card.twig' %}

                {% if profile.currentUser %}
                    <div class="block block--clean">
                        <a href='/settings/profile' class="button button--secondary button--wide">Edit profile</a>
                    </div>
                {% endif %}

                {% if profile.followersVisible %}
                    {% include 'profile/followers.twig' %}
                {% endif %}

                {% if profile.medalsVisible %}
                    {% include 'profile/medals.twig' %}
                {% endif %}
            </div>
            <div class="eight columns">
                {% include 'profile/bio.twig' %}

                {% include 'profile/feed.twig' %}

                {% include 'profile/admin.twig' %}
            </div>
        </div>
    </div>
{% endblock %}