{% set queue = queue('classes', 'sidebar', 'help') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container container--wide profile">
        <div class="block">
            <div class="block-heading">
                <h1>Terms of Use</h1>
            </div>
            <div class="block-content">
                <p>
                    </p><h2>1. General Information Regarding These Master Terms of Use (“Master Terms”).</h2>
                    Please read these terms carefully because they apply to your use of all of the websites that Defend the Web (collectively, the websites to which these terms apply, the “Websites”), including the products and services provided through the Websites (collectively, the “Services”). Websites include, but are not limited to, the websites operated at https://defendtheweb.net. Unless otherwise agreed in writing with Defend the Web, your use of any Website or Service will always be subject to, at a minimum, the terms and conditions set out in this document. These are referred to as the “Master Terms.”
                    <br><br>
                    In addition, your use of any Website or Service may also be subject to the terms of any legal notice applicable to the Website or Service, in addition to the Master Terms. All such terms supplementing these Master Terms are referred to below as the “Additional Terms.” Where Additional Terms apply to a Website or Service, these will be accessible for you to read either within, or through your use of, that Website or Service.
                    <br><br>
                    The Master Terms, together with any Additional Terms, form a binding legal agreement between you and Defend the Web in relation to your use of the Websites and the Services. Collectively, this legal agreement is referred to below as the “Terms.” If there is any contradiction between the Additional Terms and the Master Terms, then the Additional Terms shall take precedence in relation to the Website or Service to which the Additional Terms apply.
                <p></p>
                <p>
                    </p><h2>2. Your Agreement to the Terms.</h2>
                    YOUR ACCESS OR USE OF ANY WEBSITE OR SERVICE IN ANY WAY SIGNIFIES THAT YOU HAVE READ, UNDERSTAND AND AGREE TO BE BOUND BY THE TERMS. By accessing or using any Website or Service you also represent that you have the legal authority to accept the Terms on behalf of yourself and any party you represent in connection with your use of any Website or Service. If you do not agree to the Terms, you are not authorized to use any Website or Service.
                <p></p>
                <p>
                    </p><h2>3. Changes to the Terms.</h2>
                    From time to time, Defend the Web may change, remove, add to or otherwise modify the Terms, and reserves the right to do so in its discretion. We encourage you to periodically review the Terms. All new and/or amended Terms take effect immediately. Notwithstanding the foregoing, (i) no modification to the Terms will apply to any dispute between you and Defend the Web that arose prior to the effective date of any modification and (ii) if you do not agree with any modification to the Terms, you may terminate this agreement by ceasing use of the Websites and Services. Your continued use of any Website or Service after new and/or revised Terms are effective to indicate that you have read, understood and agreed to those Terms.
                <p></p>
                <p>
                    </p><h2>4. Provision of the Websites and Services Generally.</h2>
                    Defend the Web makes the Websites and Services available to you on the Terms. You may only use the Websites and Services in accordance with these Master Terms and any applicable Additional Terms. In particular but without limitation, you may not use the Websites and Services for any purpose that is unlawful or prohibited by these Master Terms, any applicable Additional Terms, or any other conditions or notices that are made available on any Website or Service.
                <p></p>
                <p>
                    </p><h2>5. User Conduct.</h2>
                    Users agree not to use the Websites or Services to:
                    <ol>
                        <li>Post, use or transmit Content that you do not have the right to post or use, for example, under intellectual property, confidentiality, privacy or other applicable laws;</li>
                        <li>Post, use or transmit unsolicited or unauthorized Content, including advertising or promotional materials, “junk mail,” “spam,” “chain letters,” “pyramid schemes,” or any other form of unsolicited or unwelcome solicitation or advertising;</li>
                        <li>Post, use or transmit Content that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment or otherwise interfere with or disrupt the Websites or Services or servers or networks connected to the Websites or Services, or that disobeys any requirements, procedures, policies or regulations of networks connected to the Websites or Services;</li>
                        <li>Post or transmit Content that is harmful, offensive, obscene, abusive, invasive of privacy, defamatory, hateful or otherwise discriminatory, false and misleading, incites an illegal act, or is otherwise in breach of your obligations to any person or contrary to any applicable laws and regulations;</li>
                        <li>Intimidate or harass another;</li>
                        <li>Use or attempt to use another’s account, service, or personal information;</li>
                        <li>Remove, circumvent, disable, damage or otherwise interfere with any security-related features that enforce limitations on the use of the Websites or Services;</li>
                        <li>Attempt to gain unauthorized access to the Websites or Services, other accounts, computer systems or networks connected to the Websites or Services, through hacking, password mining or any other means or interfere or attempt to interfere with the proper working of the Websites or Services or any activities conducted through the Websites or Services. If such activity does occur you must not disclose any information gained through such activities and must inform a moderator immediately;</li>
                        <li>Impersonate another person or entity, or falsely state or otherwise misrepresent your affiliation with a person or entity; or</li>
                        <li>Post or transmit any personally identifiable information about persons under 13 years of age.</li>
                    </ol>

                    In addition, you may not (and may not authorize another party to): (i) frame or otherwise co-brand the Websites or Services (for example, by displaying a name, logo, trademark or other means of attribution of a third party that is reasonably likely to give the user the impression that that third party has the right to display, publish or distribute the Website or Service); or, (ii) use any Website or Service in any manner that could disable, overburden, damage or impair such Website or Service, or interfere with any other party’s use and enjoyment of any Website or Service.
                <p></p>
                <p>
                    </p><h2>6. Registered Users.</h2>
                    Registering for an account on any of the Websites is void where prohibited. Only persons who are over the age of majority in their jurisdiction (which typically is 18, but may be different in your jurisdiction) and fully competent to enter into the terms, conditions, obligations, affirmations, representations and warranties set forth in the Terms and to abide by and comply with the Terms may register for an account and use the related Services; provided, however, that if you are under the age of majority in your jurisdiction but over 13 years of age, you may join with the express permission of your parent or legal guardian. Any registration by, use of or access to the Services provided to Registered Users (defined below) by anyone (1) under the age of 13 or (2) under the age of majority in their jurisdiction but without parental or guardian permission, is unauthorized, unlicensed and a violation of these Master Terms. By registering for an account on any of the Websites or using the related Services, <strong class="white">you represent and warrant that you (1) are the age of majority in your jurisdiction or, (2) are over the age of 13 and have the express permission of a legal guardian to become a Registered User and use Services made available to Registered Users</strong>, and you further agree to abide by all of the terms and conditions of these Master Terms and any applicable Additional Terms.
                <p></p>
                <p>
                    </p><h2>7. Third Party Websites and Content; Links.</h2>
                    The Websites or Services may contain links to websites not controlled by Defend the Web (“Third Party Websites”), as well as Content belonging to or originating from persons or organizations other than Defend the Web (“Third Party Content”). You acknowledge that Defend the Web is not responsible or liable for any Third Party Websites or any Third Party Content, information or products made available at any Third Party Website. You further acknowledge that Defend the Web (a) is not responsible or liable for any Third Party Websites or any Third Party Content, information or products made available at any Third Party Website; (b) has not reviewed any Third Party Websites or Third Party Content for accuracy, appropriateness, completeness or non infringement; (c) has not sponsored or otherwise endorsed Third Party Websites or Third Party Content; and (d) makes no representations or warranties whatsoever about any Third Party Websites or Third Party Content.
                    <br><br>
                    Services offered to Registered Users are provided subject to these Master Terms and any Additional Terms specified on the relevant Website. Defend the Web reserves the right to modify or discontinue the accounts of Registered Users and related Services at any time. Defend the Web disclaims any and all liability to Registered Users and third parties in the event Defend the Web exercises its right to modify or discontinue user accounts or related Services.
                    <br><br>
                    You agree to be fully responsible to maintain the security of your password and are responsible for all use of your account and for any actions that take place using your account. You may not set up an account or membership on behalf of another individual or entity unless you are authorized to do so.
                    <br><br>
                    Your participation as a Registered User and use the related Services terminates automatically upon your breach of any of these Master Terms or applicable Additional Terms. 
                    <br><br>
                    In addition, Defend the Web may, at any time: (a) modify, suspend or terminate the operation of or access to your user account for any reason; (b) modify or change such Websites and Services and any applicable Terms and policies governing your user account and related Websites and Services for any reason; and (c) interrupt user accounts and related Websites and Services for any reason, all as Defend the Web deems appropriate in its discretion. Your access to your account, and use of the related Websites and Services may be terminated by you or by Defend the Web at any time and for any reason whatsoever, without notice.
                    <br><br>
                    In addition, Defend the Web reserves the right to delete and purge any account and all Content associated therewith following any prolonged period of inactivity, all as may be determined by Defend the Web in its complete discretion.
                <p></p>
                <p>
                    </p><h2>8. Terms Relating to Content on the Websites and Services.</h2>
                    a) Responsibility for Content. You understand that all material, data and information, such as data files, written text, computer software, music, audio files or other sounds, photographs, videos or other images (collectively, “Content”) which you may have access to as part of, or through your use of, the Websites and Services are the sole responsibility of the person from which such Content originated. This includes assertions that persons may make, expressly or impliedly, about the provenance and ownership of Content that they supply, upload, list and/or link to. You acknowledge that Defend the Web does not make any representations or warranties about the Content, including without limitation, about the accuracy, integrity or quality of the Content made available at the instigation of users of the Websites and Services. You understand that by using the Websites and Services, you may be exposed to Content that is offensive, indecent or objectionable. Under no circumstances is Defend the Web liable in any way for any Content, including, but not limited to: any infringing Content, any errors or omissions in Content, or for any loss or damage of any kind incurred as a result of the use of any Content posted, transmitted to, linked to or otherwise accessible or made available via the Websites and Services.<br>
                    <br>
                    b) Content You Provide. You may only submit Content to the Websites or in connection with the Services that you have the right to submit. This means that you can only submit Content that you yourself create, that is in the public domain or that you have been expressly granted the right to submit consistent with the Terms. For the avoidance of doubt, Content that infringes the rights of any third party (e.g. Content used without express permission of the copyright owner and not otherwise permitted by law) must not be submitted. You represent, warrant and agree that no Content of any kind submitted, posted or otherwise shared by you on or through any of the Websites or Services, violates or infringes upon the rights of any third party, including copyright, trademark, privacy, publicity or other personal or proprietary rights, or contains libelous, defamatory or otherwise unlawful material. Further, you represent, warrant and agree not to submit any personally identifiable information, including any Content containing personally identifiable information, about any person who is under 13 years of age. Defend the Web may, but is not obligated to, review your submissions and may delete or remove (without notice) any Content in its sole discretion that Defend the Web determines violates the Terms or that may be offensive, illegal, or that might violate the rights, harm or threaten the safety of others. Defend the Web does not endorse or support any Content posted by you or any other third party on or through the Websites or Services. You alone are responsible for creating backup copies and replacing any Content you post on the Websites or Services, and you authorize Defend the Web to make copies of your Content as we deem necessary in order to facilitate the posting of your Content on the Websites or Services. You may request the removal of your Content from the Websites or Services at any time, and Defend the Web will take reasonable steps to promptly remove such Content; provided, however, that Defend the Web can remove any such Content only from its Websites and cannot remove Content from email archives, wiki history pages and similar community forums where you may post content, or others’ computers, such as Content you may have sent to others in an email posted to a Defend the Web email list. If you choose to remove your Content, the Defend the Web license you granted when submitting such Content (see subparagraph (b)(ii), above) will remain in full force and effect in accordance with its terms.<br>
                    <br>
                    <strong class="white">Defend the Web does not guarantee that Content made available on the Websites or Services does not infringe the rights of any third party.</strong>
                <p></p>
                <p>
                    </p><h2>9. Disclaimer of Warranties.</h2>
                    TO THE FULLEST EXTENT PERMITTED BY THE APPLICABLE LAW, Defend the Web OFFERS THE WEBSITES AND SERVICES AS-IS AND MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND CONCERNING THE WEBSITES OR SERVICES, EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING, WITHOUT LIMITATION, WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NONINFRINGEMENT. Defend the Web DOES NOT WARRANT THAT THE FUNCTIONS OR CONTENT CONTAINED ON THE WEBSITE OR SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT Defend the Web’S SERVERS ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. Defend the Web DOES NOT WARRANT OR MAKE ANY REPRESENTATION REGARDING USE OR THE RESULT OF USE OF THE CONTENT IN TERMS OF ACCURACY, RELIABILITY, OR OTHERWISE.
                <p></p>
                <p>
                    </p><h2>10. Limitation of Liability.</h2>
                    EXCEPT TO THE EXTENT REQUIRED BY APPLICABLE LAW AND THEN ONLY TO THAT EXTENT, IN NO EVENT WILL Defend the Web, ITS EMPLOYEES, OFFICERS, DIRECTORS, AFFILIATES OR AGENTS (“THE Defend the Web PARTIES”) BE LIABLE TO YOU ON ANY LEGAL THEORY FOR ANY INCIDENTAL, DIRECT, INDIRECT, PUNITIVE, ACTUAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY OR OTHER DAMAGES, INCLUDING WITHOUT LIMITATION, LOSS OF REVENUE OR INCOME, LOST PROFITS, PAIN AND SUFFERING, EMOTIONAL DISTRESS, COST OF SUBSTITUTE GOODS OR SERVICES, OR SIMILAR DAMAGES SUFFERED OR INCURRED BY YOU OR ANY THIRD PARTY THAT ARISE IN CONNECTION WITH THE WEBSITES OR SERVICES (OR THE TERMINATION THEREOF FOR ANY REASON), EVEN IF THE Defend the Web PARTIES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
                    <br><br>
                    THE Defend the Web PARTIES SHALL NOT BE RESPONSIBLE OR LIABLE WHATSOEVER IN ANY MANNER FOR ANY CONTENT POSTED ON THE WEBSITES OR SERVICES (INCLUDING CLAIMS OF INFRINGEMENT RELATING TO CONTENT POSTED ON THE WEBSITES OR SERVICES, FOR YOUR USE OF THE WEBSITES AND SERVICES, OR FOR THE CONDUCT OF THIRD PARTIES WHETHER ON THE WEBSITES, IN CONNECTION WITH THE SERVICES OR OTHERWISE RELATING TO THE WEBSITES OR SERVICES.
                <p></p>
                <p>
                    </p><h2>11. Indemnification for Breach of Terms of Use.</h2>
                    You agree to indemnify and hold harmless the Defend the Web Parties (defined above) from and against any and all loss, expenses, damages, and costs, including without limitation reasonable attorneys fees, resulting, whether directly or indirectly, from your violation of the Terms. You also agree to indemnify and hold harmless the Defend the Web Parties from and against any and all claims brought by third parties arising out of your use of any of the Websites or Services and the Content you make available via any of the Websites or Services by any means, including without limitation through a posting, a link, reference to Content, or otherwise.
                <p></p>
                <p>
                    </p><h2>12. Privacy Policy.</h2>
                    Defend the Web is committed to handling responsibly the information and data we collect through our Websites and Services and agrees to use your personal information in accordance with the Privacy Policy and the Terms. The <a href="/privacy">Privacy Policy</a> is hereby incorporated by reference into these Master Terms.
                <p></p>
                <p>
                    </p><h2>13. Termination of the Agreement.</h2>
                    These Master Terms and any Additional Terms will continue to apply until terminated by either you or Defend the Web as set out below. Your right to access and use the Websites and Services terminates automatically upon your breach of any of these Master Terms or Additional Terms that may apply to any of the Websites or Services.
                    <br><br>
                    Defend the Web may, at any time: (a) modify, suspend or terminate the operation of or access to any of the Websites or Services, or any portion of the Websites or Services, for any reason; (b) modify or change the Websites or Services, or any portion of the Websites or Services, and any Master Terms, Additional Terms and other policies governing the use of the Websites or Services, for any reason; (c) interrupt the operation of the Websites or Services, or any portion of the Websites or Services, for any reason, all as Defend the Web deems appropriate in its sole discretion.
                    <br><br>
                    Your access to, and use of, the Websites or Services may be terminated by you or by Defend the Web at any time and for any reason. Defend the Web will use reasonable efforts to notify you in advance about any material modification, suspension or termination by Defend the Web that is not caused by your breach of the Terms.
                    <br><br>
                    The disclaimer of warranties, the limitation of liability and the jurisdiction and applicable law provisions shall survive any termination. The license grants mentioned herein shall continue in effect subject to the terms of the applicable license. Your warranties and indemnification obligations shall survive any termination for one year.
                <p></p>
                <p>
                    <strong class="white">These Terms of Use are Effective as of April 1, 2014.</strong><br><br>
                    These terms have been modified from those originally found at <a href="http://creativecommons.org/terms">http://creativecommons.org/terms</a> licensed under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>.
                </p>
            </div>
    </div>
{% endblock %}